*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vH;
}
header{
    height: 10%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
.mainDiv{
    width: 20%;
    height: 100%;
    /* border:2px solid green; */
    display:flex;
    align-items: center;
}
.mainDiv1More img{ 
    padding: 10px;   
    height:80% ;
    width:80%;
}
.mainDiv1Youtube img{
    height: 60%;
    width: 60%;
}
.mainDiv2{
    width: 35%;
}
.searchBox{
    height: 60%;
    width: 80%;
}
.searchBox input,.signIn button{
    border: 1px solid #717171;
    height: 100%;
    width: 100%;
}
.searchIcon,.micIcon,.verticalDots,.signIn{
    height: 60%;
    width: 10%;
    border: 1px solid #717171;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.micIcon{
    margin-left: 5px;
    border: none;
    border-radius: 40%;
}
.mainDiv3{
    display: flex;
    justify-content: end;
    padding-right:10px;
}
.verticalDots{    
    padding-right: 10px;
    border: none;
    background-color: #fff;
}
.signIn{    
    width: 35%;    
}
.signIn button{    

    background-color: #fff;
    color: #3780DD;
}
main{
    height: 90%;
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;

}
.sideBar{
    width: 15%;
    height: 100%;
    /* border: 2px solid orangered; */
}

.mainContainer{
    width: 85%;
    height: 100%;
    /* border: 2px solid purple; */
}
.signIn1{
    height: 5%;
    width: 60%;
    border: none;
}
.sideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sideBar div{
    padding: 0% 7% 0% 7%;
}
.explore{
    color:#717171;
}
.sideBar div i{
    padding-right: 7%;
}
.topContainer{
    height: 15%;
    width: 100%;    
    padding: 1px 0px 1px 0px;
    display: flex;
    align-items: center;    
}
.podcastContainer{    
    height: 80%;
    width: 6%;    
    background-color: #3a3939;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
    border: none;    
}
.topContainer i{
    font-size: 300%;
    color: #fff;
}
.podcastWord{
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    font-size: larger;
}
.footerContainer{    
    height: 81%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footerContainer .divContainer{
    height: 50%;
    width: 20%;    
}
.divContainer{
    padding: 2px;
}
.imgContainer{
    height: 60%;
    width: 100%;
    /* border: 3px solid orange; */
}
.imgContainer img{
    height: 100%;
    width: 100%;
}
.mainContent{
    font-weight: 550;
}
.notMainContainer,.pContainer{
    color: #717171;
}